@import '../font/fontface';

$blue: rgb(66, 165, 245);
$dark-blue: rgb(30, 136, 229);

$white: rgb(255, 255, 255);
$white-transparent: rgba(255, 255, 255, 0.5);
$shadow-color: rgba(0, 0, 0, 0.20);


body {
  width: 400px;
  margin: 0;
  padding: 0;
  background: $white;
  font-family: Roboto;
  font-size: 14px;
}


button {
  float: right;
  padding: 5px 20px 5px 20px;
  background: $blue;
  border: 0;
  color: $white;
  border-radius: 2px;
  font-family: RobotoCondensed;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: $dark-blue;
}

button:focus {
  outline: 0;
}

input {
  background: none;
  border: 0;
  border-bottom: 1px solid $blue;
  font-size: 14px;
}

input:focus {
  outline: 0;
}

.hidden {
  display: none;
}

.wrapper {
  margin: 0 auto;
  padding: 20px 0px 20px 0px;
}

.icon-delete {
  width: 20px;
  float: right;
  margin-top: 15px;
  display: none;
  cursor: pointer;
}

.icon-to {
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  margin-bottom: -1px;
}

.input-line {
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;

  img {
    float: left;
    height: 20px;
    margin-top: 12px;
  }

  input {
    margin-left: 20px;
    width: 254px;
  }
}


#header {
  position: relative;
  padding-left: 10px;
  background: $blue;
  color: $white;
  box-shadow: 0 1px 1px $shadow-color;

  img {
    width: 40px;
    padding: 15px;
    float: left;
  }

  h1 {
    display: inline-block;
    line-height: 30px;
    font-weight: 900;
    font-style: italic;
    font-size: 30px;
  }

  span {
    display: inline-block;
    padding: 10px 15px 6px 15px;
    opacity: .7;
    font-weight: 900;
    cursor: pointer;
  }

  span:hover {
    opacity: 1;
  }

  span.active {
    border-bottom: 3px solid $white;
    opacity: 1;
  }

  #menu {
    position: absolute;
    bottom: 0;
    right: 15px;
  }
}

#form {
  width: 330px;
  margin: 0 auto;
  padding-top: 15px;

  button {
    margin-top: 15px;
  }
  .icon-url {
    width: 48px;
    padding-left: 5px;
  }

  .error {
    display: none;
    float: left;
    margin: 18px 0;
    width: 260px;
    color: red;
    font-weight: 900;
    text-align: center;
    font-size: 14px;
  }
}

#wrapper-manage {

  ul {
    list-style-type: none;
    padding: 20px;
    margin: 0px;
  }

  li:hover{
    .icon-delete {
      display: block;
    }
  }

  p {
    display: inline-block;
    font-size: 16px;
  }
}

